$primary: #134474;
$info: #48b0f7;
$warning: #f8d053;
$error: #f55753;
$success: #10cfbd;
$secondary: #ffffff;

$color: darken(#898b96, 10%); // Text color
$fontFamily: 'Titillium Web'; // font family
$bgSidenav: #2c2e3e;
