@import '../../../assets/scss/_variables.scss';

$textColor: #99abb4;

.app-login.application.theme--light {
  background-image: url(../../../assets/images/bg-agda.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .application--wrap {
    background-color: rgba(245, 245, 245, 0.8);
  }

  .title-app {
    text-align: center;

    h2 {
      font-size: 3.7rem;
      font-weight: 300;
      color: darken($primary, 8%);
      line-height: 3rem;
    }

    h3 {
      font-size: 1.7rem;
      letter-spacing: 0.6px;
      font-weight: 300;
      color: #333;
      margin-bottom: 20px;
    }
  }

  .logo-app {
    width: 248px;
    height: 125px;
    margin: 0 auto 15px;
    background: transparent url(../../../assets/images/logo.png) no-repeat;
    background-size: 100%;
  }

  main {
    padding-top: 0;

    &.content {
      background-color: transparent;
    }
  }

  .login-container {
    width: 100%;
    max-width: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

    &.login-nit {
      max-width: 760px;
    }

    &.login-ciudadania {
      .login-form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }

  .login-form {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-top: 5px solid $primary;

    form > .v-card__title:not(:last-child) {
      padding-bottom: 0;
    }

    form > .v-card__title:last-child {
      margin-top: 20px;

      a {
        display: inline-block;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1rem;
      }
    }

    h4 {
      line-height: 1.4rem;
      padding: 0 5px;
      color: $primary;
    }

    .fluid {
      padding: 5px 5px 0;
    }

    .v-card__title {
      color: darken($textColor, 20%);
      font-size: 0.95rem;

      & > span {
        margin-right: 5px;
      }
    }

    .v-input--checkbox {
      margin-top: -1px;
      margin-left: -5px;
      padding: 0;

      label {
        margin-top: -4px;
        color: darken($textColor, 20%);
      }
      .input-group__details {
        display: none;
      }
    }

    .login-options {
      padding-bottom: 7px;

      & > div {
        width: 100%;
      }

      a {
        color: $textColor;
        font-size: 0.95rem;

        .v-icon {
          font-size: 1.2rem;
        }
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .v-card__actions {
      padding: 0 15px 20px;
    }
  }
}

.contactos {
  text-align: center;
  margin-top: 15px;

  .link-social {
    display: inline-block;
    line-height: 42px;
    border: 1px solid #bbb;
    text-decoration: none;
    padding: 0 10px;
    outline: 0;
    color: #777;
    border-radius: 3px;

    img {
      float: left;
      margin: 3px 4px 0 0;
    }

    &:hover {
      text-decoration: underline;
      outline: 0;
    }
  }
}

.login-lang {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, .6);

  .v-btn {
    margin: 0;
    .v-btn__content {
      color: #333;
    }
  }
}

.login-container {
  display: none;
}

@media (max-width: 768px) {
  .app-login.application.theme--light {
    .login-container {
      position: static;
      transform: translate(0, 0);
    }

    .title-app {
      text-align: center;

      h2 {
        font-size: 2.2rem;
        line-height: 2.4rem;
        margin: 20px 0 10px;
      }

      h3 {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
  }
}

