<template>
  <section>
    <div class="documentos-cliente clientes" v-if="cliente && $util.isRol('SUPERADMIN')">
      <h3 class="primary--text">Cliente: {{ cliente.nombre }} - {{ cliente.sigla }}</h3>
      <v-alert
        color="info"
        value="true"
        class="bg-white"
        outline>
        <v-layout wrap>
          <h4>DATOS DEL CLIENTE</h4>
          <v-flex xs4>
            <strong>NIT:</strong> {{ cliente.nit }}
          </v-flex>
          <v-flex xs4>
            <strong>Email:</strong> {{ cliente.email }}
          </v-flex>
          <v-flex xs4>
            <strong>Teléfonos:</strong> {{ cliente.telefonos }}
          </v-flex>
          <v-flex xs4>
            <strong>Dirección:</strong> {{ cliente.direccion }}
          </v-flex>
          <v-flex xs4>
            <strong>Página web:</strong> {{ cliente.web }}
          </v-flex>
          <v-flex xs4>
            <strong>Estado:</strong> {{ cliente.estado }}
          </v-flex>
          <hr>
          <h4>REPRESENTANTE LEGAL</h4>
          <template v-if="cliente.responsable">
            <v-flex xs4>
              <strong>{{ cliente.responsable.tipo_documento }}:</strong> {{ cliente.responsable.nro_documento}}
            </v-flex>
            <v-flex xs4>
              <strong>Nombre:</strong> {{ cliente.responsable.nombre_completo }}
            </v-flex>
          </template>
          <template v-else>
            No tiene un responsable asignado.
          </template>
        </v-layout>
      </v-alert>
    </div>
    <h3 class="primary--text"><v-icon color="primary">folder</v-icon> Documentos:</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :width-modal="600"
          :graphql="graphql"
          :data-graphql="dataGraphql"
        >
          <template slot="buttons">
            <!-- <v-tooltip bottom v-if="$store.state.permissions['documentos:create']">
             <v-btn color="primary"
               @click="openModal()"
               slot="activator"
             ><v-icon dark>add</v-icon> Agregar</v-btn>
             <span>Agregar nuevo documento</span>
            </v-tooltip> -->
            <v-tooltip bottom v-if="$store.state.permissions['documentos:create']">
             <v-btn
               @click="$router.push('/clientes')"
               slot="activator"
             ><v-icon dark>keyboard_arrow_left</v-icon> Atrás</v-btn>
             <span>Volver atrás</span>
           </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>business</v-icon> {{ form.id ? 'Editar documento' : 'Agregar documento' }}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>

            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-card-text>
                <v-container grid-list-md class="pt-0">
                  <FileUpload
                    label="Arrastra tu documento aquí para subirlo<br>o has clic aquí"/>

                  <v-layout>
                    <v-flex xs8>
                      <!-- <v-text-field
                        label="Fecha de actualización"
                        :rules="$validate(['required'])"
                        required
                        v-model="form.fecha_actualizacion"
                        maxlength="50"
                      ></v-text-field> -->
                      <v-text-field
                        label="Nombre del documento"
                        :rules="$validate(['required'])"
                        required
                        v-model="form.nombre"
                        maxlength="50"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field
                        label="Fecha de solicitud"
                        :rules="$validate(['required'])"
                        required
                        :disabled="true"
                        v-model="form.fecha_solicitud"
                        maxlength="50"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>

                  <v-textarea
                    label="Observación"
                    v-model="form.observacion"
                  ></v-textarea>

                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon dark>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <!-- <v-tooltip bottom v-if="$store.state.permissions['documentos:update']">
                <v-btn
                  icon
                  v-if="items.item.estado === 'CLIENTE'"
                  slot="activator"
                  @click="editItem(items.item.id, 'documentos', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['documentos:delete']">
                <v-btn
                  icon
                  v-if="items.item.estado === 'CLIENTE'"
                  slot="activator"
                  @click="deleteItem(items.item.id, 'documentos')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip> -->
              <v-tooltip bottom v-if="$store.state.permissions['documentos:update']">
                <v-btn
                  small
                  v-if="items.item.tipo !== 'CLIENTE_DOCUMENTO'"
                  slot="activator"
                  @click="cargarModal(items.item)">
                  <v-icon>cloud_upload</v-icon>&nbsp;Cargar
                </v-btn>
                <span>Cargar documento</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['documentos:update']">
                <v-btn
                  small
                  v-if="items.item.id_archivo"
                  slot="activator"
                  @click="descargar(items.item)">
                  <v-icon>cloud_download</v-icon>&nbsp;Descargar
                </v-btn>
                <span>Descargar documento</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['documentos:delete']">
                <v-btn
                  small
                  v-if="items.item.tipo === 'CLIENTE_DOCUMENTO'"
                  slot="activator"
                  color="error"
                  @click="deleteItem(items.item.id, 'documento')">
                  <v-icon>close</v-icon>&nbsp;Quitar
                </v-btn>
                <span>Quitar documento subido</span>
              </v-tooltip>
            </td>
            <td>{{ items.item.nombre }}</td>
            <td>{{ $datetime.format(items.item.fecha_solicitud) }}</td>
            <td>{{ $datetime.format(items.item.fecha_actualizacion) }}</td>
            <td>{{ items.item.observacion }}</td>
            <td>
              <v-chip
                label
                :color="estados[items.item.estado === 'ACTIVO' ? 'PENDIENTE' : items.item.estado].color"
                :text-color="estados[items.item.estado === 'ACTIVO' ? 'PENDIENTE' : items.item.estado].textColor">
                {{ items.item.estado === 'ACTIVO' ? 'PENDIENTE' : items.item.estado }}
              </v-chip>
            </td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
    <v-dialog
      v-model="dialog"
      width="500">
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title>
          <v-icon>attach_file</v-icon>
          Cargar documento
          <v-spacer></v-spacer>
          <v-btn icon @click="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text v-if="documentoShow">
          <FileUpload
            :url="urlUpload"
            types=".pdf"
            name="pdf"
            :form="formUpload"
            :onSuccess="uploadDocumento"
            label="Arrastra tu documento aquí para subirlo<br>o has clic aquí" />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="default"
            @click="dialog = false"
          >
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable';
import FileUpload from '@/common/util/FileUpload';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';

const estados = {
  PENDIENTE: {
    color: 'default',
    textColor: 'black'
  },
  VERIFICADO: {
    color: 'info',
    textColor: 'black'
  },
  OBSERVADO: {
    color: 'warning',
    textColor: 'white'
  },
  ACTIVO: {
    color: 'success',
    textColor: 'white'
  },
  INACTIVO: {
    color: 'warning',
    textColor: 'white'
  }
};

export default {
  mixins: [ crud, validate, logDatos ],
  props: {
    idCliente: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      documentoShow: true,
      cliente: null,
      idCliente: null,
      logDatos: null,
      estados,
      dialog: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'documentos',
      formUpload: {
        idDocumento: null,
        idCliente: null,
        tipo: null
      },
      urlUpload: `${this.$apiUrl}system/documento/cliente/upload`,
      headers: [
        { text: 'Acciones', sortable: false },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Fecha de solicitud', value: 'fecha_solicitud' },
        { text: 'Fecha de actualización', value: 'fecha_actualizacion' },
        { text: 'Observación', value: 'observacion' },
        { text: 'Estado', value: 'estado' }
      ],
      form: {
        nombre: '',
        fecha_solicitud: null,
        fecha_actualizacion: null,
        observacion: ''
      },
      dataGraphql: `
        id
        nombre
        fecha_solicitud
        fecha_actualizacion
        observacion
        tipo
        estado
        id_archivo
        archivo {
          path
          filename
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'nombre',
          label: 'Nombre',
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_cliente',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'estado',
          label: 'Estado',
          type: 'select',
          typeG: 'EstadoDocumento',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'PENDIENTE', text: 'PENDIENTE' },
            { value: 'VERIFICADO', text: 'VERIFICADO' },
            { value: 'OBSERVADO', text: 'OBSERVADO' }
          ]
        }
      ],
      valid: true
    };
  },
  created () {
    if (this.$route.params.idCliente || this.idCliente) {
      this.idCliente = this.$route.params.idCliente || this.idCliente;
      this.filters[1].value = this.idCliente;
      this.getCliente(this.idCliente);
    } else {
      this.$router.push('/clientes');
    }
  },
  methods: {
    descargar (item) {
      console.log('download', item);
      if (item.archivo) {
        window.open(`${this.$apiUrl.replace('api/', '')}uploads/${item.archivo.filename}`, '_blank');
      }
    },
    uploadDocumento (file, response) {
      this.updateList();
      this.dialog = false;
    },
    cargarModal (item) {
      this.documentoShow = false;
      this.$nextTick(() => {
        this.formUpload.idDocumento = item.id;
        this.formUpload.idCliente = this.idCliente;
        this.formUpload.tipo = 'CLIENTE_DOCUMENTO';
        this.dialog = true;
        this.documentoShow = true;
      });
    },
    getCliente (id) {
      this.$service.graphql({
        query: `
          query getCliente($id: Int!) {
            cliente (id: $id) {
              id
              nombre
              sigla
              nit
              email
              telefonos
              direccion
              web
              estado
              responsable {
                tipo_documento
                nro_documento
                nombre_completo
              }
            }
          }
        `,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.cliente = response.cliente;
        }
      });
    },
    openModal (data = {}) {
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.$nextTick(() => {
          this.form = {
            nombre: '',
            fecha_solicitud: this.$datetime.format(new Date()),
            fecha_actualizacion: this.$datetime.format(new Date()),
            observacion: ''
          };
        });
      }
      this.$store.commit('openModal');
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        if (data.id) {
          data.fecha_actualizacion = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          delete data.fecha_solicitud;
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: Int!, $documento: EditDocumento!) {
                documentoEdit(id: $id, documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              documento: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.fecha_solicitud = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          delete data.fecha_actualizacion;
          this.$service.graphql({
            query: `
              mutation add($documento: NewDocumento!) {
                documentoAdd(documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              documento: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    LogDatos,
    FileUpload
  }
};
</script>

<style lang="scss">
@import '../../../assets/scss/_variables.scss';
.clientes {
  h4 {
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
  }
  hr {
    border: none;
    border-top: 1px solid $info;
    width: 100%;
    margin: 10px 0;
  }
}
</style>
