<template>
  <section>
    <h3 class="primary--text">Estado de cuentas</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :width-modal="500"
          :graphql="graphql"
          :dataGraphql="dataGraphql"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['cuentas:create']">
             <v-btn color="primary"
               @click="openModal()"
               slot="activator"
             ><v-icon dark>add</v-icon> Agregar</v-btn>
             <span>Agregar nuevo cuenta</span>
           </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>business</v-icon> {{ form.id ? 'Editar estado de cuenta' : 'Agregar estado de cuenta' }}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>

            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-card-text>
                <v-container grid-list-md class="pt-0">
                  <v-autocomplete
                    :items="clientes"
                    label="Cliente"
                    :rules="$validate(['required'])"
                    v-model="form.id_cliente" />
                  <v-btn
                    v-if="form.archivo && change"
                    small
                    @click="change = false">
                    <v-icon>cancel</v-icon> Cancelar cambio
                  </v-btn>
                  <div
                    class="cuenta-archivo"
                    v-if="form.archivo && !change">
                    <h5>Archivo:</h5>
                    {{ form.archivo.filename }}
                    <v-btn
                      small
                      color="info"
                      @click="change = true">
                      <v-icon>compare_arrows</v-icon> Cambiar archivo
                    </v-btn>
                  </div>
                  <FileUpload
                    v-if="(documentoShow && !form.archivo) || change"
                    :url="urlUploadDoc"
                    types=".pdf,.jpg,.jpeg,.png"
                    name="file"
                    :form="formUploadDoc"
                    :onSuccess="uploadDocumentoDoc"
                    label="Arrastra tu documento aquí para subirlo<br>o has clic aquí" />
                  <v-textarea
                    label="Observación"
                    v-model="form.observacion"
                  ></v-textarea>
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon dark>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td v-if="agda" class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['cuentas:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click="editItem(items.item.id, 'cuenta', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['cuentas:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click="deleteItem(items.item.id, 'cuenta')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>
            <td v-if="agda">{{ items.item.cliente.nombre }}</td>
            <td>
              <template>
                <v-tooltip bottom v-if="$store.state.permissions['documentos:update']">
                  <v-btn
                    small
                    icon
                    class="m-0"
                    slot="activator"
                    @click="descargar(items.item)">
                    <v-icon color="info">cloud_download</v-icon>
                  </v-btn>
                  <span>Descargar documento</span>
                </v-tooltip>
                {{ items.item.archivo.filename }}
                <br />
                <em>
                  <strong>Fecha de subida:</strong> {{ $datetime.format(items.item.archivo._created_at, 'dd/MM/YYYY hrs. HH:mm') }}
                </em>
              </template>
            </td>
            <td>{{ items.item.observacion }}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable';
import FileUpload from '@/common/util/FileUpload';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import usuario from '@/components/admin/usuario/mixins/usuario';

const estados = {
  ACTIVO: {
    color: 'success',
    textColor: 'white'
  },
  INACTIVO: {
    color: 'warning',
    textColor: 'white'
  }
};

const tipos = {
  GENERAL: {
    color: 'success',
    textColor: 'white'
  },
  CLIENTE: {
    color: 'info',
    textColor: 'black'
  },
  PLANTILLA: {
    color: 'warning',
    textColor: 'white'
  }
};

export default {
  mixins: [ crud, validate, logDatos, usuario ],
  data () {
    return {
      change: false,
      documentoShow: true,
      urlUploadDoc: `${this.$apiUrl}system/cuenta/archivo/upload`,
      formUploadDoc: {
      },
      clientes: [],
      cliente: null,
      idCliente: null,
      logDatos: null,
      estados,
      tipos,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'cuentas',
      headers: [],
      form: {
        id_cliente: null,
        id_archivo: null,
        observacion: ''
      },
      dataGraphql: `
        id
        observacion
        id_cliente
        id_archivo
        estado
        cliente {
          nombre
        }
        archivo {
          filename
          path
          _created_at
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [],
      valid: true,
      agda: false
    };
  },
  created () {
    this.agda = this.$util.isRol('SUPERADMIN', 'ADMIN', 'OPERADOR');
    if (this.agda) {
      this.headers = [
        { text: 'accion', sortable: false },
        { text: 'Cliente', value: 'id_cliente' },
        { text: 'Documento', value: 'id_archivo' },
        { text: 'Observación', value: 'observacion' }
      ];
      this.filters = [
        {
          field: 'id_cliente',
          label: this.$t('user.crud.entity'),
          type: 'select',
          typeG: 'Int',
          items: []
        }
      ];
      this.getClientes(0);
    } else {
      this.headers = [
        { text: 'Documento', value: 'id_archivo' },
        { text: 'Observación', value: 'observacion' }
      ];
      this.filters = [
        {
          field: 'id_cliente',
          type: 'hidden',
          typeG: 'Int',
          value: this.$storage.getUser().id_cliente
        }
      ];
    }
  },
  methods: {
    descargar (item) {
      if (item.archivo) {
        window.open(`${this.$apiUrl.replace('api/', '')}uploads/${item.archivo.filename}`, '_blank');
      }
    },
    uploadDocumentoDoc (file, response) {
      this.form.id_archivo = response.archivo.id;
    },
    openModal (data = {}) {
      this.change = false;
      this.documentoShow = false;
      this.$nextTick(() => {
        this.documentoShow = true;
      });
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        data.id_cliente += '';
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.$nextTick(() => {
          this.form = {
            id_cliente: null,
            id_archivo: null,
            observacion: ''
          };
        });
      }
      this.$store.commit('openModal');
    },
    save () {
      if (this.$refs.form.validate()) {
        if (!this.form.id_archivo) {
          return this.$message.warning('Debe subir un archivo primero');
        }
        let data = Object.assign({}, this.form);
        if (data.id) {
          delete data.id;
          delete data.archivo;
          delete data.cliente;
          this.$service.graphql({
            query: `
              mutation edit($id: Int!, $cuenta: EditCuenta!) {
                cuentaEdit(id: $id, cuenta: $cuenta) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              cuenta: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.estado = 'ACTIVO';
          this.$service.graphql({
            query: `
              mutation add($cuenta: NewCuenta!) {
                cuentaAdd(cuenta: $cuenta) {
                  id
                }
              }
            `,
            variables: {
              cuenta: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    LogDatos,
    FileUpload
  }
};
</script>

<style lang="scss">
@import '../../../assets/scss/_variables.scss';
.cuenta-archivo {
  overflow: hidden;

  & > .v-btn {
    float: right;
  }
}
</style>
