<template>
  <section class="detalle">
    <h3 class="primary--text"><v-icon color="primary">settings</v-icon> Operación</h3>
    <v-alert
      v-if="operacion"
      class="bg-white"
      color="info"
      value="true"
      outline>
      <h4>Datos del cliente</h4>
      <div class="detalle-descripcion" v-if="operacion.cliente">
        <p><strong>Código cliente:</strong> {{ operacion.cliente.codigo }} </p>
        <p><strong>Razón social:</strong> {{ operacion.cliente.nombre }} </p>
        <!-- <p><strong>Estado:</strong> {{ operacion.cliente.estado }} </p>
        <p><strong>NIT:</strong> {{ operacion.cliente.nit }} </p> -->
      </div>
      <h4>Datos del despacho</h4>
      <div class="detalle-descripcion">
        <p><strong>Nro. de Factura:</strong> {{ operacion.nro_factura }} </p>
        <p><strong>Nro. Referencia:</strong> {{ operacion.nro_referencia }} </p>
        <p><strong>Nro. orden:</strong> {{ operacion.nro_orden }} </p>
        <p><strong>Tipo de importación:</strong> {{ tiposText[operacion.tipo_importacion].text }} </p>
        <p><strong>Estado:</strong> <strong>{{ operacion.estado }}</strong> </p>
        <p><strong>Fecha de pago:</strong> {{ operacion.fecha_pago || 'PENDIENTE' }}</p>
      </div>
    </v-alert>
    <div class="btn-container">
      <v-btn
        color="primary"
        @click="guardarOperacion"
      >
        <v-icon>check</v-icon> Guardar cambios
      </v-btn>
      <v-btn
        @click="$router.push('/operaciones')"
        >
        <v-icon>keyboard_arrow_left</v-icon> Volver atrás
      </v-btn>
    </div>
    <v-tabs
      v-model="active"
      class="tab-preferencias"
      slider-color="info"
      icons-and-text>
      <v-tab
        key="documentos"
        href="#documentos"
        ripple>
        Documentos
        <v-icon>folder</v-icon>
      </v-tab>
      <v-tab-item
        key="documentos"
        value="documentos">
        <v-card>
          <v-card-text>
            <v-btn
              @click="openAgregar('OPERACION_DOCUMENTO')"
              v-if="$store.state.permissions['documentos:create']"
              color="primary">
              <v-icon>add</v-icon> Agregar documento
            </v-btn>
            <div class="table-responsive">
              <table
                class="v-datatable v-table theme--light"
                v-if="documentos.length">
                <thead>
                  <tr>
                    <th class="column">Acciones</th>
                    <th class="column">Documento</th>
                    <th class="column">Fecha solicitud</th>
                    <th class="column">Fecha modificación</th>
                    <th class="column">Doc.</th>
                    <th class="column">Observación</th>
                    <th class="column">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in documentos"
                    :key="item.id">
                    <td class="nowrap">
                      <v-tooltip bottom v-if="!item.id_archivo">
                        <v-btn
                          small
                          slot="activator"
                          @click="cargarModal(item, 'OPERACION_DOCUMENTO')">
                          <v-icon>cloud_upload</v-icon>&nbsp;Cargar
                        </v-btn>
                        <span>Cargar documento</span>
                      </v-tooltip>
                      <v-tooltip bottom v-if="item.id_archivo">
                        <v-btn
                          small
                          slot="activator"
                          @click="descargar(item)">
                          <v-icon>cloud_download</v-icon>&nbsp;Descargar
                        </v-btn>
                        <span>Descargar documento</span>
                      </v-tooltip>
                      <v-tooltip bottom v-if="item.id_archivo">
                        <v-btn
                          small
                          slot="activator"
                          color="error"
                          @click="deleteUpload(item.id, 'OPERACION_DOCUMENTO')">
                          <v-icon>close</v-icon>&nbsp;Quitar
                        </v-btn>
                        <span>Quitar documento subido</span>
                      </v-tooltip>
                      <v-tooltip bottom v-if="$store.state.permissions['documentos:delete']">
                        <v-btn
                          small
                          slot="activator"
                          icon
                          @click="deleteDocumento(item.id, 'OPERACION_DOCUMENTO')">
                          <v-icon color="red">delete</v-icon>
                        </v-btn>
                        <span>Eliminar documento</span>
                      </v-tooltip>
                    </td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ $datetime.format(item.fecha_solicitud) }}</td>
                    <td>{{ $datetime.format(item._user_updated) }}</td>
                    <td></td>
                    <td>
                      <v-text-field
                        v-if="!cliente"
                        class="width-obs"
                        v-model="item.observacion"
                        @input="updateField(item.id, 'observacion', item.observacion)" />
                      <span v-else>{{ item.observacion }}</span>
                    </td>
                    <!-- <td>
                      <v-select
                        v-if="!cliente"
                        v-model="item.estado"
                        :items="estadosValue"
                        @input="updateField(item.id, 'estado', item.estado)" />
                      <v-chip
                        v-else
                        label
                        :color="estadosDoc[item.estado].color"
                        :text-color="estadosDoc[item.estado].textColor">
                        {{ item.estado }}
                      </v-chip>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <v-alert
              v-if="documentos.length === 0"
              :value="true"
              color="warning"
              outline>
              No tiene ningún documento asignado
            </v-alert>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab
        key="estados"
        href="#estados"
        ripple>
        Estados
        <v-icon>playlist_add_check</v-icon>
      </v-tab>
      <v-tab-item
        key="estados"
        value="estados">
        <v-card>
          <v-card-text>
            <div class="table-responsive">
              <table
                class="v-datatable v-table theme--light">
                <thead>
                  <tr>
                    <th class="column">Fecha solicitud</th>
                    <!-- <th class="column">Fecha inicio</th> -->
                    <th class="column">Fecha finalización</th>
                    <th class="column">Trámite</th>
                    <th class="column">Observación</th>
                    <th class="column">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in estados"
                    :key="item.id">
                    <td>{{ $datetime.format(item.fecha_solicitud) }}</td>
                    <!-- <td>{{ $datetime.format(item.fecha_inicio) }}</td> -->
                    <td>{{ $datetime.format(item.fecha_final) }}</td>
                    <td>
                      <strong>{{ item.nombre }}</strong><br> <span class="small-text">{{ item.descripcion }}</span>
                      <div v-if="item.nombre === 'VALIDACIÓN' && operacion">
                        <v-alert
                          :value="true"
                          color="info"
                          outline>
                          <v-container grid-list-md class="p-0">
                            <strong class="m-0">Agregar DUI</strong>
                            <v-layout>
                              <v-flex xs3>
                                <v-text-field
                                  v-model="operacion.dui_gestion"
                                  hide-details
                                  label="Gestión"
                                  :disabled="!item.estado"
                                  maxlength="4" />
                              </v-flex>
                              <v-flex xs3>
                                <v-text-field
                                  v-model="operacion.dui_aduana"
                                  hide-details
                                  label="Aduana"
                                  :disabled="!item.estado"
                                  maxlength="3" />
                              </v-flex>
                              <v-flex xs3>
                                <v-text-field
                                  v-model="operacion.dui_serie"
                                  hide-details
                                  label="Serie"
                                  :disabled="!item.estado"
                                  maxlength="1" />
                              </v-flex>
                              <v-flex xs3>
                                <v-text-field
                                  v-model="operacion.dui_numero"
                                  hide-details
                                  label="Número"
                                  :disabled="!item.estado"
                                  maxlength="10" />
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </v-alert>
                      </div>
                      <!-- <div v-if="item.nombre === 'FECHA DE ARRIBO' && operacion">
                        <v-alert
                          :value="true"
                          color="info"
                          outline>
                          <v-text-field
                            label="Fecha de finalización"
                            mask="##/##/####"
                            hide-details
                            return-masked-value
                            v-model="operacion.fecha_pago"
                            placeholder="dd/mm/aaaa" />
                        </v-alert>
                      </div> -->
                    </td>
                    <td>
                      <v-text-field
                        class="width-obs"
                        v-model="item.observacion"
                        placeholder="Escriba la observación" />
                    </td>
                    <td>
                      <v-checkbox
                        class="estado-checkbox"
                        v-model="item.estado"
                        :disabled="cliente || !edit || !!item.fecha_final"
                        @change="activarEstado(item)"
                      ></v-checkbox>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab
        key="pagos"
        href="#pagos"
        ripple>
        Pagos
        <v-icon>attach_money</v-icon>
      </v-tab>
      <v-tab-item
        key="pagos"
        value="pagos">
        <v-card v-if="operacion">
          <v-card-text>
            <h4>Pago del despacho</h4>
            <v-text-field
              label="El monto a pagar a la aduana es de Bs."
              v-model="operacion.monto_pago"
              maxlength="20"
              :rules="$validate(['required'])"
              :disabled="cliente"
              required />
            <h4>Opciones de pago</h4>
            <v-radio-group
              :disabled="cliente"
              v-model="operacion.opcion_pago">
              <v-radio
                label="PAGO CLIENTE"
                value="PAGO CLIENTE"
              />
              <v-radio
                label="PAGO A CARGO DE AGDA"
                value="PAGO A CARGO DE AGDA"
              />
              <v-radio
                label="DEPÓSITO A AGDA"
                value="DEPÓSITO A AGDA"
              />
            </v-radio-group>
            <h4>Documento de respaldo</h4>
            <FileUpload
              v-if="!operacion.id_archivo_pago"
              :url="urlUpload"
              types=".pdf"
              name="pdf"
              :form="formUpload"
              :onSuccess="uploadArchivoPago"
              label="Arrasta el documento que respalda el pago acá" />
            <div v-else>
              <v-icon>picture_as_pdf</v-icon> {{ operacion.archivo_pago.filename }}

              <v-btn
                small
                @click="eliminarArchivo"
                color="error">
                <v-icon>delete</v-icon> Eliminar
              </v-btn>

            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab
        key="informaciones"
        href="#informaciones"
        ripple>
        Información
        <v-icon>info</v-icon>
      </v-tab>
      <v-tab-item
        key="informaciones"
        value="informaciones">
        <v-card v-if="operacion">
          <v-card-text>
            <div v-if="operacion.dui_gestion && operacion.dui_aduana && operacion.dui_serie && operacion.dui_numero">
              <v-alert
                :value="true"
                outline
                color="info">
                <h4>
                  <strong>DUI: </strong> {{ operacion.dui_gestion }} - {{ operacion.dui_aduana }} {{ operacion.dui_serie }} - {{ operacion.dui_numero }}
                  <v-btn 
                    @click="buscarDui" 
                    color="info"
                    medium>
                    <v-icon>search</v-icon> Ver DUI
                  </v-btn>
                </h4>
              </v-alert>
              <div
                id="iframe-container"
                class="iframe-container">
                <iframe id="iframe-detalle"></iframe>
              </div>
            </div>
            <div v-else>
              <v-alert
                :value="true"
                outline
                color="warning">
                Se mostrará el estado cuando tenga un número de Declaración Única de Importación (DUI) asignado.
              </v-alert>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab
        key="regularizaciones"
        href="#regularizaciones"
        ripple>
        Regularización
        <v-icon>poll</v-icon>
      </v-tab>
      <v-tab-item
        key="regularizaciones"
        value="regularizaciones">
        <v-card>
          <v-card-text>
            <v-btn
              @click="openAgregar('OPERACION_REGULARIZACION')"
              v-if="$store.state.permissions['documentos:create']"
              color="primary">
              <v-icon>add</v-icon> Agregar regularización
            </v-btn>
            <div class="table-responsive">
              <table
                class="v-datatable v-table theme--light"
                v-if="regularizaciones.length">
                <thead>
                  <tr>
                    <th class="column">Acciones</th>
                    <th class="column">Documento</th>
                    <th class="column">Fecha solicitud</th>
                    <th class="column">Fecha modificación</th>
                    <th class="column">Doc.</th>
                    <th class="column">Observación</th>
                    <th class="column">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in regularizaciones"
                    :key="item.id">
                    <td class="nowrap">
                      <v-tooltip bottom v-if="!item.id_archivo">
                        <v-btn
                          small
                          slot="activator"
                          @click="cargarModal(item, 'OPERACION_REGULARIZACION')">
                          <v-icon>cloud_upload</v-icon>&nbsp;Cargar
                        </v-btn>
                        <span>Cargar documento</span>
                      </v-tooltip>
                      <v-tooltip bottom v-if="item.id_archivo">
                        <v-btn
                          small
                          slot="activator"
                          @click="descargar(item)">
                          <v-icon>cloud_download</v-icon>&nbsp;Descargar
                        </v-btn>
                        <span>Descargar documento</span>
                      </v-tooltip>
                      <v-tooltip bottom v-if="item.id_archivo">
                        <v-btn
                          small
                          slot="activator"
                          color="error"
                          @click="deleteUpload(item.id, 'OPERACION_REGULARIZACION')">
                          <v-icon>close</v-icon>&nbsp;Quitar
                        </v-btn>
                        <span>Quitar documento subido</span>
                      </v-tooltip>
                      <v-tooltip bottom v-if="$store.state.permissions['documentos:delete']">
                        <v-btn
                          small
                          slot="activator"
                          icon
                          @click="deleteDocumento(item.id, 'OPERACION_REGULARIZACION')">
                          <v-icon color="red">delete</v-icon>
                        </v-btn>
                        <span>Eliminar documento</span>
                      </v-tooltip>
                    </td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ $datetime.format(item.fecha_solicitud) }}</td>
                    <td>{{ $datetime.format(item._user_updated) }}</td>
                    <td></td>
                    <td>
                      <v-text-field
                        v-if="!cliente"
                        class="width-obs"
                        v-model="item.observacion"
                        placeholder="Escriba la observación..."
                        @input="updateField(item.id, 'observacion', item.observacion)" />
                      <span v-else>{{ item.observacion }}</span>
                    </td>
                    <td>
                      <v-select
                        v-if="!cliente"
                        v-model="item.estado"
                        :items="estadosValue"
                        @input="updateField(item.id, 'estado', item.estado)" />
                      <v-chip
                        v-else
                        label
                        :color="estadosDoc[item.estado].color"
                        :text-color="estadosDoc[item.estado].textColor">
                        {{ item.estado }}
                      </v-chip>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <v-alert
              v-if="regularizaciones.length === 0"
              :value="true"
              color="warning"
              outline>
              No tiene ningún documento de regularización asignado
            </v-alert>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
    <v-dialog
      v-model="dialog"
      width="500">
      <v-card>
        <v-card-title
          class="headline grey lighten-2 m-0"
          primary-title>
          <v-icon>attach_file</v-icon>
          Agregar documento {{ tipo === 'OPERACION_REGULARIZACION' ? 'de regularización' : '' }}
          <v-spacer></v-spacer>
          <v-btn icon @click="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-tabs
          v-model="activeTab"
          dark
        >
          <v-tab
            ripple
            dark
            color="primary"
            slider-color="warning"
          >
            <v-icon>playlist_add</v-icon> Desde una plantilla
          </v-tab>
          <v-tab-item>
            <v-card flat>
              <v-form
                @submit.prevent="agregarDocumentos"
                v-model="validDocs"
                ref="formDocs"
                lazy-validation
                >
                <v-card-text class="pt-0">
                  <v-container grid-list-md>
                    <v-alert
                      :value="true"
                      color="warning"
                      outline
                      v-if="plantillas.length === 0"
                      >No tiene plantillas disponibles agréguelos <router-link to="/documentos">aquí</router-link></v-alert>
                    <v-select
                      v-model="plantilla"
                      :items="plantillas"
                      label="Seleccione una plantilla"
                      item-value="id"
                      item-text="nombre"
                      :rules="$validate(['required'])"
                      required
                      return-object />
                    <template v-if="docs.length">
                      <h3>Documentos de la plantilla a crear:</h3>
                      <ol>
                        <li v-for="item in docs" :key="item.id">
                          {{ item.documento.nombre }}
                        </li>
                      </ol>
                    </template>
                  </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="default"
                    @click="dialog = false">
                    <v-icon>close</v-icon> Cancelar
                  </v-btn>
                  <v-btn
                    color="primary"
                    type="submit"
                    :disabled="!validDocs">
                    <v-icon>check</v-icon> Agregar documentos
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-tab-item>
          <v-tab
            ripple
            dark
            color="primary"
            slider-color="warning"
          >
            <v-icon>add</v-icon> Crear nuevo
          </v-tab>
          <v-tab-item>
            <v-card flat>
              <v-form
                @submit.prevent="guardarDocumento"
                v-model="validDoc"
                ref="formDoc"
                lazy-validation>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout>
                      <v-flex xs12>
                        <v-combobox
                          v-model="formDoc.id_documento"
                          class="uppercase"
                          :items="documentosSearch"
                          :loading="loadingDocumento"
                          :search-input.sync="searchDocumento"
                          item-value="id"
                          item-text="nombre"
                          placeholder="Busque un documento"
                          label="Nombre del documento"
                          :rules="$validate(['required'])"
                          :no-data-text="searchDocumento ? 'No existen datos para su búsqueda' : ''"
                          small-chips
                          deletable-chips>
                        </v-combobox>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <small class="error--text text-required">* Los campos son obligatorios</small>
                  <v-spacer></v-spacer>
                  <v-btn
                    @click="dialog = false">
                    <v-icon>cancel</v-icon> {{ $t('common.cancel') }}
                  </v-btn>
                  <v-btn
                    color="primary"
                    type="submit"
                    :disabled="!validDoc">
                    <v-icon dark>check</v-icon> {{ $t('common.save') }}
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-dialog>
    <v-dialog
      width="600"
      v-model="dialogDoc">
      <v-card>
        <v-card-title class="headline">
          <v-icon>business</v-icon> {{ formDoc.id ? 'Editar documento' : 'Agregar documento' }}
          <v-spacer></v-spacer>
          <v-btn icon @click="dialogDoc = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>

        <v-form
          @submit.prevent="saveDoc('formDoc')"
          v-model="validDoc"
          ref="formDoc2"
          lazy-validation>
          <v-card-text>
            <v-container grid-list-md class="pt-0">
              <v-layout>
                <v-flex xs8>
                  <v-text-field
                    label="Nombre del documento"
                    :rules="$validate(['required'])"
                    required
                    v-model="formDoc.nombre"
                    maxlength="50"
                  ></v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    label="Fecha de solicitud"
                    :rules="$validate(['required'])"
                    required
                    :disabled="true"
                    v-model="formDoc.fecha_solicitud"
                    maxlength="50"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-textarea
                label="Observación"
                v-model="formDoc.observacion"
              ></v-textarea>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <small class="error--text text-required">* Los campos son obligatorios</small>
            <v-spacer></v-spacer>
            <v-btn
              @click="dialogDoc = false">
              <v-icon>cancel</v-icon> {{ $t('common.cancel') }}
            </v-btn>
            <v-btn
              color="primary"
              type="submit"
              :disabled="!validDoc">
              <v-icon dark>check</v-icon> {{ $t('common.save') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogUpload"
      width="500">
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title>
          <v-icon>attach_file</v-icon>
          Cargar documento
          <v-spacer></v-spacer>
          <v-btn icon @click="dialogUpload = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text v-if="documentoShow">
          <FileUpload
            :url="urlUploadDoc"
            types=".pdf"
            name="pdf"
            :form="formUploadDoc"
            :onSuccess="uploadDocumentoDoc"
            label="Arrastra tu documento aquí para subirlo<br>o has clic aquí" />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="default"
            @click="dialogUpload = false"
          >
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import FileUpload from '@/common/util/FileUpload';
import validate from '@/common/mixins/validate';
import crud from '@/common/util/crud-table/mixins/crud-table';

const tipos = [
  {
    value: 'CONSUMO_DIRECTO',
    text: 'Consumo directo' // (menos el último)
  },
  {
    value: 'ANTICIPADA',
    text: 'Anticipada' // (todas)
  },
  {
    value: 'INMEDIATA',
    text: 'Inmediata ' // (todas)
  },
  {
    value: 'ABREVIADA',
    text: 'Abreviada' // (menos el último)
  }
];

const estadosDoc = {
  PENDIENTE: {
    color: 'default',
    textColor: 'black'
  },
  VERIFICADO: {
    color: 'info',
    textColor: 'black'
  },
  OBSERVADO: {
    color: 'warning',
    textColor: 'white'
  },
  ACTIVO: {
    color: 'success',
    textColor: 'white'
  },
  INACTIVO: {
    color: 'warning',
    textColor: 'white'
  }
};

const estadosValue = [
  'PENDIENTE',
  'VERIFICADO',
  'OBSERVADO',
  'ACTIVO',
  'INACTIVO'
];

const estadosOperacion = {
  PROCESO: 'En proceso',
  PENDIENTE_PAGO: 'Pendiente de pago',
  PENDIENTE_REGULARIZACION: 'Pendiente de regularización de documentos',
  SUJETO_MULTA: 'Sujeto a multa por plazo vencido',
  CONCLUIDO: 'Concluído'
};

let tiposText = {};
tipos.map(item => {
  tiposText[item.value] = item;
});

export default {
  components: {
    FileUpload
  },
  mixins: [ validate, crud ],
  data () {
    return {
      html: '',
      estadosOperacion,
      formDui: {},
      edit: true,
      graphql: true,
      estadosDoc,
      estadosValue,
      dialogUpload: false,
      documentoShow: true,
      active: null,
      activeTab: null,
      validDocs: false,
      docs: [],
      plantilla: null,
      formDoc: {
        id_documento: null,
        nombre: null
      },
      dialogDoc: false,
      validDoc: false,
      operacion: null,
      dui: {},
      tipos,
      tiposText,
      dialog: false,
      Tab: 'documentos',
      documentos: [],
      regularizaciones: [],
      estados: [],
      plantillas: [],
      idOperacion: null,
      view: false,
      urlUpload: `${this.$apiUrl}system/operacion/archivo/upload`,
      urlUploadDoc: `${this.$apiUrl}system/documento/cliente/upload`,
      formUpload: {
        idOperacion: null
      },
      formUploadDoc: {
        idOperacion: null,
        idDocumento: null,
        idCliente: null,
        tipo: null
      },
      documentosSearch: [],
      loadingDocumento: false,
      searchDocumento: null,
      cliente: false,
      tipo: 'OPERACION_DOCUMENTO',
      queryOperacion: `
        query getEstados($id_operacion: Int!) {
          operacion(id: $id_operacion) {
            id
            nro_factura
            nro_referencia
            nro_orden
            tipo_importacion
            tipo
            estado
            id_cliente
            monto_pago
            opcion_pago
            fecha_pago
            id_archivo_pago
            dui_gestion
            dui_aduana
            dui_serie
            dui_numero
            cliente {
              nombre
              nit
              codigo
              estado
              email
            }
            archivo_pago {
              filename
              path
            }
          }
        }
      `,
      queryDocumentos: `
        query getDocumentos ($tipo: TipoDocumento, $id_operacion: Int, $nombre: String) {
          documentos(tipo: $tipo, id_operacion: $id_operacion, nombre: $nombre) {
            count
            rows {
              id
              nombre
              fecha_solicitud
              fecha_actualizacion
              observacion
              tipo
              estado
              id_archivo
              archivo {
                path
                filename
                nombre
              }
              _user_created
              _user_updated
              _created_at
              _updated_at
            }
          }
        }
      `,
      queryPlantillas: `
        query lista {
          plantillas {
            count
            rows {
              id
              nombre
              estado
              documentos
            }
          }
        }
      `,
      queryEstados: `
        query getEstados($id_operacion: Int) {
          estados(id_operacion: $id_operacion, order: "orden") {
            count
            rows {
              id
              nombre
              fecha_solicitud
              fecha_inicio
              fecha_final
              observacion
              descripcion
              estado
              id_operacion
            }
          }
        }
      `,
      queryUpdateEstado: `
        mutation actualizarEstado ($id: Int!, $estado: EditEstado!) {
          estadoEdit(id: $id, estado: $estado, email: true) {
            id
          }
        }
      `,
      queryUpdateOperacion: `
        mutation edit($id: Int!, $operacion: EditOperacion!) {
          operacionEdit(id: $id, operacion: $operacion) {
            id
          }
        }
      `
    };
  },
  created () {
    this.getPlantillas();
    if (this.$route.params.idOperacion) {
      this.cliente = this.$util.isRol('CLIENTE', 'CLIENTE_ADMIN');
      this.idOperacion = this.$route.params.idOperacion;
      this.getOperacion(this.idOperacion);
      this.getEstados(this.idOperacion);
      this.getDocumentos({ tipo: 'OPERACION_DOCUMENTO' });
      this.getDocumentos({ tipo: 'OPERACION_REGULARIZACION' }, 'regularizaciones');
      this.formUpload.idOperacion = this.idOperacion;
    } else {
      this.$router.push('/operaciones');
    }
  },
  watch: {
    plantilla (val) {
      if (val) {
        console.log('plantilla', val);
        this.docs = val.documentos;
      }
    },
    searchDocumento (val) {
      if (val) {
        if (this.loadingDocumento) {
          return false;
        }

        if (this.formDoc || (this.formDoc && this.formDoc.id_documento.nombre !== val)) {
          this.loadingDocumento = true;
          this.getDocumentos({ tipo: 'OPERACION', nombre: val }, 'documentosSearch', 'loadingDocumento');
        } else {
          if (val.length === 0) {
            this.documentosSearch = [];
          }
        }
      }
    }
  },
  methods: {
    openAgregar (tipo) {
      this.dialog = true;
      this.tipo = tipo;
      console.log('openAgregar', this.tipo);
    },
    updateField (id, key, value) {
      this.updateDocument(id, { [key]: value }, false);
    },
    updateDocument (id, data, reload = true) {
      this.$service.graphql({
        query: `
          mutation edit($id: Int!, $documento: EditDocumento!) {
            documentoEdit(id: $id, documento: $documento) {
              id
            }
          }
        `,
        variables: {
          id,
          documento: data
        }
      }).then(response => {
        if (response) {
          if (reload) {
            this.getDocumentos({ tipo: this.tipo }, this.tipo === 'OPERACION_REGULARIZACION' ? 'regularizaciones' : 'documentos');
          }
        }
      });
    },
    deleteUpload (id, tipo = 'OPERACION_DOCUMENTO') {
      this.tipo = tipo;
      this.$confirm('¿Desea quitar el archivo?', () => {
        this.updateDocument(id, { id_archivo: null, fecha_solicitud: null });
      });
    },
    deleteDocumento (id, tipo = 'OPERACION_DOCUMENTO') {
      this.tipo = tipo;
      this.$confirm('¿Desea eliminar el documento?', () => {
        this.$service.graphql({
          query: `
            mutation remove($id: Int!) {
              documentoDelete(id: $id) {
                deleted
              }
            }
          `,
          variables: { id }
        }).then(response => {
          if (response && response.documentoDelete && response.documentoDelete.deleted) {
            this.$message.success('¡Registro eliminado correctamente!');
            this.getDocumentos({ tipo: this.tipo }, this.tipo === 'OPERACION_REGULARIZACION' ? 'regularizaciones' : 'documentos');
          }
        });
      });
    },
    cargarModal (item, tipo = 'OPERACION_DOCUMENTO') {
      this.tipo = tipo;
      this.documentoShow = false;
      this.$nextTick(() => {
        this.formUploadDoc.idDocumento = item.id;
        this.formUploadDoc.idCliente = this.idCliente;
        this.formUploadDoc.idOperacion = this.idOperacion;
        this.formUploadDoc.tipo = this.tipo;
        this.formUploadDoc.update = true;
        this.dialogUpload = true;
        this.documentoShow = true;
      });
    },
    descargar (item) {
      if (item.archivo) {
        window.open(`${this.$apiUrl.replace('api/', '')}uploads/${item.archivo.filename}`, '_blank');
      }
    },
    uploadDocumentoDoc (file, response) {
      this.getDocumentos({ tipo: this.tipo }, this.tipo === 'OPERACION_REGULARIZACION' ? 'regularizaciones' : 'documentos');
      this.dialogUpload = false;
    },
    async agregarDocumentos () {
      if (this.$refs.formDocs.validate()) {
        for (let item of this.plantilla.documentos) {
          const { documento } = item;

          await this.crearDocumento({
            nombre: documento.nombre,
            estado: 'PENDIENTE',
            id_operacion: this.idOperacion,
            tipo: this.tipo
          });
        }
        this.getDocumentos({ tipo: this.tipo }, this.tipo === 'OPERACION_REGULARIZACION' ? 'regularizaciones' : 'documentos');
        this.dialog = false;
        this.$message.success('Documentos agregados correctamente');
      }
    },
    async guardarDocumento () {
      if (this.$refs.formDoc.validate()) {
        try {
          console.log('guardar', this.formDoc);
          await this.crearDocumento({
            nombre: this.formDoc.id_documento ? this.formDoc.id_documento.nombre || this.formDoc.id_documento : this.formDoc.id_documento,
            estado: 'PENDIENTE',
            id_operacion: this.idOperacion,
            tipo: this.tipo
          });

          this.getDocumentos({ tipo: this.tipo }, this.tipo === 'OPERACION_REGULARIZACION' ? 'regularizaciones' : 'documentos');
          this.dialog = false;
          this.formDoc = {
            id_documento: null
          };
          this.$message.success('Documentos agregado correctamente');
        } catch (e) {
          this.$message.error('No se puede crear el documento');
        }
      }
    },
    crearDocumento (data, callback) {
      return new Promise((resolve, reject) => {
        this.$service.graphql({
          query: `
            mutation add($documento: NewDocumento!) {
              documentoAdd(documento: $documento) {
                id
              }
            }
          `,
          variables: {
            documento: data
          }
        }).then(response => {
          if (response) {
            if (typeof callback === 'function') {
              callback();
            }
            resolve(response.documentoAdd);
          } else {
            reject(new Error('No se pudo crear el documento.'));
          }
        });
      });
    },
    openModal (data = {}, form = 'formDoc', dialog = 'dialogDoc') {
      this.$refs[form].reset();
      this.logDatos = null;
      if (data.id) {
        data.fecha_solicitud = this.$datetime.format(data.fecha_solicitud);
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this[form] = data;
        });
      } else {
        this.$nextTick(() => {
          this[form] = {
            nombre: '',
            fecha_solicitud: this.$datetime.format(new Date()),
            fecha_actualizacion: this.$datetime.format(new Date()),
            observacion: '',
            tipo: form === 'formDoc' ? 'OPERACION_DOCUMENTO' : 'OPERACION_REGULARIZACION'
          };
        });
      }
      this[dialog] = true;
    },
    save (form = 'formDoc', dialog = 'dialogDoc') {
      if (this.$refs[form].validate()) {
        let data = Object.assign({}, this[form]);
        if (data.id) {
          data.fecha_actualizacion = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          delete data.fecha_solicitud;
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: Int!, $documento: EditDocumento!) {
                documentoEdit(id: $id, documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              id: this[form].id,
              documento: data
            }
          }).then(response => {
            if (response) {
              this[dialog] = false;
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.fecha_solicitud = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          data.estado = 'ACTIVO';
          delete data.fecha_actualizacion;
          this.$service.graphql({
            query: `
              mutation add($documento: NewDocumento!) {
                documentoAdd(documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              documento: data
            }
          }).then(response => {
            if (response) {
              this[dialog] = false;
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    eliminarArchivo () {
      this.$confirm('Esta seguro de eliminar este archivo', () => {
        this.$service.graphql({
          query: this.queryUpdateOperacion,
          variables: {
            id: this.idOperacion,
            operacion: {
              id_archivo_pago: null
            }
          }
        }).then(response => {
          if (response) {
            this.$message.success('Archivo eliminado');
            this.operacion.id_archivo_pago = null;
          }
        });
      });
    },
    uploadArchivoPago (file, response) {
      this.operacion.id_archivo_pago = response.archivo.id;
    },
    guardarOperacion () {
      if (['ANTICIPADA', 'INMEDIATA'].indexOf(this.operacion.tipo) !== -1 && !this.operacion.fecha_pago) {
        return this.$alert('Debe llenar la fecha de finalización para continuar');
      }
      let operacion = {
        monto_pago: this.operacion.monto_pago,
        opcion_pago: this.operacion.opcion_pago,
        dui_gestion: this.operacion.dui_gestion,
        dui_aduana: this.operacion.dui_aduana,
        dui_serie: this.operacion.dui_serie,
        dui_numero: this.operacion.dui_numero,
        fecha_pago: this.$datetime.format2(this.$datetime.convert(this.operacion.fecha_pago))
      };
      this.$service.graphql({
        query: this.queryUpdateOperacion,
        variables: {
          id: this.idOperacion,
          operacion
        }
      }).then(response => {
        if (response) {
          this.$message.success('Operación actualizada');
        }
      });
    },
    activarEstado (item) {
      console.log('OPE', JSON.parse(JSON.stringify(this.operacion)), parseFloat(this.operacion.monto_pago));
      if (item.nombre === 'VALIDACIÓN' && parseFloat(this.operacion.monto_pago) === 0) {
        return this.$alert('Debe llenar el monto del pago en la sección PAGOS y guardar la operación antes de poder cambiar este estado', () => (item.estado = !item.estado));
      }
      this.$confirm('Se cambiará el estado y ya no podrá modificarlo. ¿Deséa continuar?', () => {
        let final = this.$datetime.now(false, 'SIN_FORMATO');
        this.updateEstado(item.id, {
          estado: item.estado,
          fecha_final: final,
          nombre: item.nombre,
          operacion: this.operacion.nro_referencia,
          email: this.operacion.cliente.email,
          id_operacion: this.operacion.id
        });
        item.fecha_final = final;
      }, () => {
        item.estado = !item.estado;
      });
    },
    updateEstado (id, data) {
      this.$service.graphql({
        query: this.queryUpdateEstado,
        variables: {
          id,
          estado: data
        }
      }).then(response => {
        if (response) {
          // this.$message.success(`Estado ${item.nombre} actualizado`);
          // this.getEstados();
        }
      });
    },
    buscarDui () {
      const data = {
        gestion: this.operacion.dui_gestion,
        aduana: this.operacion.dui_aduana,
        serie: this.operacion.dui_serie,
        numero: this.operacion.dui_numero
      };
      this.$loading.show('Consultando a la Aduana Nacional, espere por favor.');
      this.$service.post(`system/documento/dui`, data)
        .then(response => {
          if (response) {
            this.createIframe(response.html);
          }
        });
    },
    getOperacion (idOperacion) {
      this.$service.graphql({
        query: this.queryOperacion,
        variables: {
          id_operacion: idOperacion
        }
      }).then(response => {
        if (response) {
          this.operacion = response.operacion;
          this.operacion.fecha_pago = this.$datetime.format(this.operacion.fecha_pago, 'dd/MM/YYYY', true);
          this.idCliente = this.operacion.id_cliente;
        } else {
          this.$router.push('/operaciones');
        }
      });
    },
    createIframe (html, timestamp) {
      let container = document.getElementById('iframe-container');
      container.innerHTML = '';
      this.view = false;
      this.$nextTick(() => {
        this.view = true;
        let iframe = document.createElement('iframe');
        iframe.src = this.getBlobURL(html, 'text/html');
        container.appendChild(iframe);
      });
    },
    getBlobURL (code, type) {
      const blob = new window.Blob([code], { type });
      return URL.createObjectURL(blob);
    },
    getPlantillas () {
      this.$service.graphql({
        query: this.queryPlantillas,
        variables: {
          tipo: 'PLANTILLA'
        }
      }).then(response => {
        if (response) {
          this.plantillas = response.plantillas.rows || [];
        }
      });
    },
    getEstados (idOperacion) {
      this.$service.graphql({
        query: this.queryEstados,
        variables: {
          id_operacion: idOperacion
        }
      }).then(response => {
        if (response) {
          let estados = response.estados.rows || [];
          for (let item of estados) {
            if (item.nombre === 'DESPACHO CONCLUÍDO' && item.estado) {
              this.edit = false;
            }
          }
          this.estados = estados;
        }
      });
    },
    getDocumentos ({ tipo = 'OPERACION_DOCUMENTO', nombre = null }, items = 'documentos', loading = null) {
      this.$service.graphql({
        query: this.queryDocumentos,
        variables: {
          id_operacion: nombre ? null : this.idOperacion,
          tipo,
          nombre
        }
      }).then(response => {
        if (response) {
          if (loading) {
            this[loading] = false;
          }
          this[items] = response.documentos.rows || [];
        }
      });
    }
  }
};
</script>

<style lang="scss">
@import '../../../assets/scss/_variables.scss';

.estado-checkbox {
  .v-input__slot {
    margin: 0 !important;
  }
  .v-messages {
    display: none;
  }
}
.small-text {
  font-size: 0.95rem;
  color: #555;
}
.detalle {
  p {
    margin: 0;
  }
  h4 {
    margin: 0 0 5px;
  }
}
.detalle-descripcion {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.iframe-container {
  padding: 0 15px;

  iframe {
    margin-top: 15px;
    border: none;
    height: 500px;
    width: 100%;
  }
}
.width-obs {
  width: 170px;
}
</style>
