<template>
  <section>
    <h3 class="primary--text">Operaciones - Importación</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :width-modal="600"
          :graphql="graphql"
          :dataGraphql="dataGraphql"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['operaciones:create']">
             <v-btn color="primary"
               @click="openModal"
               slot="activator"
             ><v-icon dark>add</v-icon> Agregar</v-btn>
             <span>Agregar nuevo operación</span>
           </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>business</v-icon> {{ form.id ? 'Editar operación' : 'Agregar operación' }}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>

            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-card-text>
                <v-container grid-list-md class="pt-0">
                  <v-autocomplete
                    :items="clientes"
                    label="Cliente"
                    :rules="$validate(['required'])"
                    v-model="form.id_cliente" />
                  <v-layout>
                    <v-flex xs4>
                      <v-text-field
                        label="Número de factura"
                        required
                        v-model="form.nro_factura"
                        maxlength="50" />
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field
                        label="Número de referencia"
                        required
                        v-model="form.nro_referencia"
                        maxlength="50" />
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field
                        label="Número de orden"
                        required
                        v-model="form.nro_orden"
                        maxlength="50" />
                    </v-flex>
                  </v-layout>
                  <v-select
                    :items="tiposImportacion"
                    label="Tipo de importación"
                    :rules="$validate(['required'])"
                    v-model="form.tipo_importacion" />
                  <!-- <h5 class="primary--text m-0">Documento Único de Importación (DUI)</h5>
                  <v-layout>
                    <v-flex xs3>
                      <v-text-field
                        label="Gestión"
                        v-model="form.dui_gestion"
                        maxlength="4"
                        required />
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field
                        label="Aduana"
                        v-model="form.dui_aduana"
                        maxlength="3"
                        required />
                    </v-flex>
                    <v-flex xs1>
                      <v-text-field
                        label="Serie"
                        v-model="form.dui_serie"
                        maxlength="1"
                        required />
                    </v-flex>
                    <v-flex xs4>
                      <v-text-field
                        label="Número"
                        v-model="form.dui_numero"
                        maxlength="10"
                        required />
                    </v-flex>
                  </v-layout> -->
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon dark>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip
                bottom
                v-if="$store.state.permissions['operaciones:update'] && $util.isRol('SUPERADMIN')">
                <v-btn
                  icon
                  slot="activator"
                  @click="editItem(items.item.id, 'operacion', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['operaciones:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click="deleteItem(items.item.id, 'operacion')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
              <v-btn
                :disabled="!items.item.cliente"
                @click="$router.push(`/operacion/${items.item.id}`)"
                small>
                <v-icon>list</v-icon> Ver detalles
              </v-btn>
            </td>
            <td>{{ items.item.cliente ? items.item.cliente.nombre : 'Sin cliente asignado' }}</td>
            <td>{{ items.item.nro_factura }}</td>
            <td>{{ items.item.nro_referencia }}</td>
            <td>{{ items.item.nro_orden }}</td>
            <td>
              <v-chip
                label
                :color="tiposText[items.item.tipo_importacion].color"
                :text-color="tiposText[items.item.tipo_importacion].textColor">
                {{ items.item.tipo_importacion }}
              </v-chip>
            </td>
            <td>
              <v-chip
                label
                :color="tipos[items.item.tipo].color"
                :text-color="tipos[items.item.tipo].textColor">
                {{ items.item.tipo }}
              </v-chip>
            </td>
            <td>
              <v-chip
                label
                :color="estados[items.item.estado].color"
                :text-color="estados[items.item.estado].textColor">
                {{ items.item.estado }}
              </v-chip>
            </td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable';
import FileUpload from '@/common/util/FileUpload';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import usuario from '@/components/admin/usuario/mixins/usuario';

const estados = {
  PROCESO: {
    color: 'default',
    textColor: 'black'
  },
  PENDIENTE_PAGO: {
    color: 'info',
    textColor: 'white'
  },
  PENDIENTE_REGULARIZACION: {
    color: 'warning',
    textColor: 'white'
  },
  CONCLUIDO: {
    color: 'success',
    textColor: 'white'
  },
  SUJETO_MULTA: {
    color: 'warning',
    textColor: 'white'
  }
};

const tipos = {
  IMPORTACION: {
    color: 'info',
    textColor: 'white'
  },
  EXPORTACION: {
    color: 'success',
    textColor: 'white'
  }
};

const tiposImportacion = [
  {
    value: 'CONSUMO_DIRECTO',
    text: 'Consumo directo',
    color: 'default',
    textColor: 'black'
  },
  {
    value: 'ANTICIPADA',
    text: 'Anticipada',
    color: 'warning',
    textColor: 'white'
  },
  {
    value: 'INMEDIATA',
    text: 'Inmediata ',
    color: 'info',
    textColor: 'white'
  },
  {
    value: 'ABREVIADA',
    text: 'Abreviada',
    color: 'success',
    textColor: 'white'
  }
];

let tiposText = {};
tiposImportacion.map(item => {
  tiposText[item.value] = item;
});

export default {
  mixins: [ crud, validate, logDatos, usuario ],
  data () {
    return {
      clientes: [],
      cliente: null,
      idCliente: null,
      logDatos: null,
      estados,
      tipos,
      tiposImportacion,
      tiposText,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'operaciones',
      headers: [
        { text: 'accion', sortable: false },
        { text: 'Cliente', value: 'id_cliente' },
        { text: 'Nro. Factura', value: 'nro_factura' },
        { text: 'Nro. Referencia', value: 'nro_referencia' },
        { text: 'Nro. Referencia', value: 'nro_orden' },
        { text: 'Tipo Importación', value: 'tipo_importacion' },
        { text: 'Tipo', value: 'tipo' },
        { text: 'Estado', value: 'estado' }
      ],
      form: {
        nro_factura: null,
        nro_referencia: null,
        nro_orden: null,
        tipo_importacion: '',
        id_cliente: null,
        tipo: 'IMPORTACION'
      },
      dataGraphql: `
        id
        nro_factura
        nro_referencia
        nro_orden
        tipo_importacion
        tipo
        estado
        id_cliente
        monto_pago
        opcion_pago
        id_archivo_pago
        dui_gestion
        dui_aduana
        dui_serie
        dui_numero
        cliente {
          nombre
          nit
          codigo
          estado
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'id_cliente',
          label: this.$t('user.crud.entity'),
          type: 'select',
          typeG: 'Int',
          items: []
        },
        {
          field: 'nro_factura',
          label: 'Nro. Factura',
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'tipo_importacion',
          label: 'Tipo Importación',
          type: 'select',
          typeG: 'TipoImportacionOperacion',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'CONSUMO_DIRECTO', text: 'CONSUMO_DIRECTO' },
            { value: 'ANTICIPADA', text: 'ANTICIPADA' },
            { value: 'INMEDIATA', text: 'INMEDIATA' },
            { value: 'ABREVIADA', text: 'ABREVIADA' }
          ]
        },
        {
          field: 'estado',
          label: 'Estado',
          type: 'select',
          typeG: 'EstadoOperacion',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'PROCESO', text: 'PROCESO' },
            { value: 'PENDIENTE_PAGO', text: 'PENDIENTE_PAGO' },
            { value: 'PENDIENTE_REGULARIZACION', text: 'PENDIENTE_REGULARIZACION' },
            { value: 'CONCLUIDO', text: 'CONCLUIDO' }
          ]
        }
      ],
      valid: true
    };
  },
  created () {
    this.getClientes(0);
  },
  methods: {
    openModal (data = {}) {
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        data.id_cliente += '';
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.$nextTick(() => {
          this.form = {
            nro_factura: null,
            nro_referencia: null,
            nro_orden: null,
            tipo_importacion: '',
            id_cliente: null,
            tipo: 'IMPORTACION'
          };
        });
      }
      this.$store.commit('openModal');
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        delete data.cliente;
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: Int!, $operacion: EditOperacion!) {
                operacionEdit(id: $id, operacion: $operacion) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              operacion: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.estado = 'PROCESO';
          this.$service.graphql({
            query: `
              mutation add($operacion: NewOperacion!) {
                operacionAdd(operacion: $operacion) {
                  id
                }
              }
            `,
            variables: {
              operacion: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.$router.push(`/operacion/${response.operacionAdd.id}`);
              this.$message.success();
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    LogDatos,
    FileUpload
  }
};
</script>
