<template>
  <v-card flat>
    <v-card-text>
      <crud-table
        :headers="headers"
        :url="url"
        :filters="filters"
        :width-modal="600"
        :graphql="graphql"
      >
        <template slot="buttons">
          <v-tooltip bottom v-if="$store.state.permissions['documentos:create']">
          <v-btn color="primary"
            @click="openModal()"
            slot="activator"
          ><v-icon dark>add</v-icon> Agregar</v-btn>
          <span>Agregar nuevo documento</span>
        </v-tooltip>
        </template>

        <template slot="form">
          <v-card-title class="headline">
            <v-icon>business</v-icon> {{ form.id ? 'Editar documento' : 'Agregar documento' }}
            <v-spacer></v-spacer>
            <v-btn icon @click="$store.commit('closeModal')">
              <v-icon>close</v-icon>
            </v-btn>
          </v-card-title>

          <v-form
            @submit.prevent="save"
            v-model="valid"
            ref="form"
            lazy-validation>
            <v-card-text>
              <v-container grid-list-md class="pt-0">
                <v-layout>
                  <v-flex xs12>
                    <!-- <v-text-field
                      label="Fecha de actualización"
                      :rules="$validate(['required'])"
                      required
                      v-model="form.fecha_actualizacion"
                      maxlength="50"
                    ></v-text-field> -->
                    <v-text-field
                      label="Nombre del documento"
                      :rules="$validate(['required'])"
                      required
                      v-model="form.nombre"
                      maxlength="50"
                    ></v-text-field>
                  </v-flex>
                  <!-- <v-flex xs4>
                    <v-text-field
                      label="Fecha de solicitud"
                      :rules="$validate(['required'])"
                      required
                      :disabled="true"
                      v-model="form.fecha_solicitud"
                      maxlength="50"
                    ></v-text-field>
                  </v-flex> -->
                </v-layout>

                <!-- <v-textarea
                  label="Observación"
                  v-model="form.observacion"
                ></v-textarea> -->

                <v-radio-group
                  v-model="form.tipo"
                  :rules="$validate(['required'])"
                  :mandatory="false"
                  row>
                  <v-radio label="CLIENTE" value="CLIENTE"></v-radio>
                  <v-radio label="OPERACION" value="OPERACION"></v-radio>
                </v-radio-group>

              </v-container>
              <log-datos :data="logDatos" v-if="logDatos"></log-datos>
            </v-card-text>
            <v-card-actions>
              <small class="error--text text-required">* Los campos son obligatorios</small>
              <v-spacer></v-spacer>
              <v-btn
                @click="$store.commit('closeModal');">
                <v-icon>cancel</v-icon> {{$t('common.cancel') }}
              </v-btn>
              <v-btn
                color="primary"
                type="submit"
                :disabled="!valid">
                <v-icon dark>check</v-icon> {{$t('common.save') }}
              </v-btn>
            </v-card-actions>
          </v-form>
        </template>

        <template slot="items" slot-scope="items">
          <td class="nowrap">
            <v-tooltip bottom v-if="$store.state.permissions['documentos:update']">
              <v-btn
                icon
                slot="activator"
                @click="editItem(items.item.id, 'documento', dataGraphql)">
                <v-icon>edit</v-icon>
              </v-btn>
              <span>Editar registro</span>
            </v-tooltip>
            <v-tooltip bottom v-if="$store.state.permissions['documentos:delete']">
              <v-btn
                icon
                slot="activator"
                @click="deleteItem(items.item.id, 'documento')">
                <v-icon color="red">delete</v-icon>
              </v-btn>
              <span>Eliminar registro</span>
            </v-tooltip>
          </td>
          <td>{{ items.item.nombre }}</td>
          <td>
            <v-chip
              label
              :color="tipos[items.item.tipo].color"
              :text-color="tipos[items.item.tipo].textColor">
              {{ items.item.tipo }}
            </v-chip>
          </td>
          <!-- <td>
            <v-chip
              label
              :color="estados[items.item.estado].color"
              :text-color="estados[items.item.estado].textColor">
              {{ items.item.estado }}
            </v-chip>
          </td> -->
        </template>
      </crud-table>
    </v-card-text>
  </v-card>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable';
import FileUpload from '@/common/util/FileUpload';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import Plantillas from './Plantillas';

const estados = {
  PENDIENTE: {
    color: 'default',
    textColor: 'black'
  },
  VERIFICADO: {
    color: 'info',
    textColor: 'black'
  },
  OBSERVADO: {
    color: 'warning',
    textColor: 'white'
  },
  ACTIVO: {
    color: 'success',
    textColor: 'white'
  },
  INACTIVO: {
    color: 'warning',
    textColor: 'white'
  }
};

const tipos = {
  CLIENTE: {
    color: 'warning',
    textColor: 'white'
  },
  CLIENTE_DOCUMENTO: {
    color: 'warning',
    textColor: 'white'
  },
  OPERACION: {
    color: 'info',
    textColor: 'white'
  },
  OPERACION_DOCUMENTO: {
    color: 'info',
    textColor: 'white'
  },
  OPERACION_REGULARIZACION: {
    color: 'success',
    textColor: 'white'
  }
};

export default {
  mixins: [ crud, validate, logDatos ],
  data () {
    return {
      active: 'documentos',
      cliente: null,
      idCliente: null,
      logDatos: null,
      estados,
      tipos,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'documentos',
      headers: [
        { text: 'accion', sortable: false },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Tipo', value: 'tipo' }
        // { text: 'Estado', value: 'estado' }
      ],
      form: {
        nombre: '',
        fecha_solicitud: null,
        fecha_actualizacion: null,
        observacion: '',
        tipo: ''
      },
      dataGraphql: `
        id
        nombre
        fecha_solicitud
        fecha_actualizacion
        observacion
        tipo
        estado
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'nombre',
          label: 'Nombre',
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'only',
          type: 'hidden',
          typeG: 'Boolean',
          value: true
        },
        {
          field: 'tipo',
          label: 'Tipo',
          type: 'select',
          typeG: 'TipoDocumento',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'CLIENTE', text: 'CLIENTE' },
            { value: 'OPERACION', text: 'OPERACION' }
          ]
        },
        {
          field: 'estado',
          label: 'Estado',
          type: 'select',
          typeG: 'EstadoDocumento',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'PENDIENTE', text: 'PENDIENTE' },
            { value: 'VERIFICADO', text: 'VERIFICADO' },
            { value: 'OBSERVADO', text: 'OBSERVADO' }
          ]
        }
      ],
      valid: true
    };
  },
  created () {

  },
  methods: {
    openModal (data = {}) {
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        data.fecha_solicitud = this.$datetime.format(data.fecha_solicitud);
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.$nextTick(() => {
          this.form = {
            nombre: '',
            fecha_solicitud: this.$datetime.format(new Date()),
            fecha_actualizacion: this.$datetime.format(new Date()),
            observacion: '',
            tipo: 'CLIENTE'
          };
        });
      }
      this.$store.commit('openModal');
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        if (data.id) {
          data.fecha_actualizacion = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          delete data.fecha_solicitud;
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: Int!, $documento: EditDocumento!) {
                documentoEdit(id: $id, documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              documento: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.fecha_solicitud = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          data.estado = 'ACTIVO';
          delete data.fecha_actualizacion;
          this.$service.graphql({
            query: `
              mutation add($documento: NewDocumento!) {
                documentoAdd(documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              documento: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    LogDatos,
    FileUpload,
    Plantillas
  }
};
</script>

<style lang="scss">
@import '../../../assets/scss/_variables.scss';
.clientes {
  .v-alert {
    background-color: #ffffff;
  }

  h4 {
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
  }
  hr {
    border: none;
    border-top: 1px solid $info;
    width: 100%;
    margin: 10px 0;
  }
}
</style>
