<template>
  <section>
    <h3 class="primary--text">Documentos y plantillas</h3>
    <v-tabs
      v-model="active"
      class="tab-documentos"
      slider-color="primary">
      <v-tab
        key="documentos"
        href="#documentos"
        ripple>
        <v-icon>settings_applications</v-icon> Documentos
      </v-tab>
      <v-tab-item
        key="documentos"
        value="documentos">
        <Documentos />
      </v-tab-item>
      <v-tab
        key="plantillas"
        href="#plantillas"
        ripple>
        <v-icon>person_outline</v-icon> Plantillas cliente
      </v-tab>
      <v-tab-item
        v-if="active == 'plantillas'"
        key="plantillas"
        value="plantillas">
        <Plantillas />
      </v-tab-item>
    </v-tabs>

  </section>
</template>

<script>
import CrudTable from '@/common/util/crud-table/CrudTable';
import FileUpload from '@/common/util/FileUpload';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import Plantillas from './Plantillas';
import Documentos from './Documentos';

const estados = {
  PENDIENTE: {
    color: 'default',
    textColor: 'black'
  },
  VERIFICADO: {
    color: 'info',
    textColor: 'black'
  },
  OBSERVADO: {
    color: 'warning',
    textColor: 'white'
  },
  ACTIVO: {
    color: 'success',
    textColor: 'white'
  },
  INACTIVO: {
    color: 'warning',
    textColor: 'white'
  }
};

const tipos = {
  GENERAL: {
    color: 'success',
    textColor: 'white'
  },
  CLIENTE: {
    color: 'info',
    textColor: 'black'
  },
  PLANTILLA: {
    color: 'warning',
    textColor: 'white'
  },
  GENERAL_DOCUMENTO: {
    color: 'info',
    textColor: 'white'
  },
  CLIENTE_DOCUMENTO: {
    color: 'success',
    textColor: 'white'
  },
  GENERAL_REGULARIZACION: {
    color: 'info',
    textColor: 'white'
  },
  CLIENTE_REGULARIZACION: {
    color: 'success',
    textColor: 'white'
  }
};

export default {
  mixins: [ crud, validate, logDatos ],
  data () {
    return {
      active: 'documentos',
      cliente: null,
      idCliente: null,
      logDatos: null,
      estados,
      tipos,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'documentos',
      headers: [
        { text: 'accion', sortable: false },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Fecha de solicitud', value: 'fecha_solicitud' },
        { text: 'Fecha de actualización', value: 'fecha_actualizacion' },
        { text: 'Observación', value: 'observacion' },
        { text: 'Tipo', value: 'tipo' },
        { text: 'Estado', value: 'estado' }
      ],
      form: {
        nombre: '',
        fecha_solicitud: null,
        fecha_actualizacion: null,
        observacion: '',
        tipo: ''
      },
      dataGraphql: `
        id
        nombre
        fecha_solicitud
        fecha_actualizacion
        observacion
        tipo
        estado
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'nombre',
          label: 'Nombre',
          type: 'text',
          typeG: 'String'
        },
        // {
        //   field: 'tipo',
        //   type: 'hidden',
        //   typeG: 'TipoDocumento',
        //   value: 'GENERAL'
        // },
        {
          field: 'tipo',
          label: 'Tipo',
          type: 'select',
          typeG: 'TipoDocumento',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'GENERAL', text: 'GENERAL' },
            { value: 'CLIENTE', text: 'CLIENTE' }
          ]
        },
        {
          field: 'estado',
          label: 'Estado',
          type: 'select',
          typeG: 'EstadoDocumento',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'PENDIENTE', text: 'PENDIENTE' },
            { value: 'VERIFICADO', text: 'VERIFICADO' },
            { value: 'OBSERVADO', text: 'OBSERVADO' }
          ]
        }
      ],
      valid: true
    };
  },
  created () {

  },
  methods: {
    openModal (data = {}) {
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        data.fecha_solicitud = this.$datetime.format(data.fecha_solicitud);
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.$nextTick(() => {
          this.form = {
            nombre: '',
            fecha_solicitud: this.$datetime.format(new Date()),
            fecha_actualizacion: this.$datetime.format(new Date()),
            observacion: '',
            tipo: 'GENERAL'
          };
        });
      }
      this.$store.commit('openModal');
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        if (data.id) {
          data.fecha_actualizacion = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          delete data.fecha_solicitud;
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: Int!, $documento: EditDocumento!) {
                documentoEdit(id: $id, documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              documento: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.fecha_solicitud = this.$datetime.format(new Date(), 'YYYY-MM-dd');
          data.estado = 'ACTIVO';
          delete data.fecha_actualizacion;
          this.$service.graphql({
            query: `
              mutation add($documento: NewDocumento!) {
                documentoAdd(documento: $documento) {
                  id
                }
              }
            `,
            variables: {
              documento: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    LogDatos,
    FileUpload,
    Plantillas,
    Documentos
  }
};
</script>

<style lang="scss">
@import '../../../assets/scss/_variables.scss';
.clientes {
  .v-alert {
    background-color: #ffffff;
  }

  h4 {
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
  }
  hr {
    border: none;
    border-top: 1px solid $info;
    width: 100%;
    margin: 10px 0;
  }
}
</style>
