<template>
  <div>
    <v-dialog v-model="$store.state.modal2" persistent :max-width="600">
      <v-card class="crud-dialog">
        <v-card-title class="headline">
          <v-icon>person</v-icon> {{ form.id ? 'Editar plantilla cliente' : 'Agregar plantilla cliente' }}
          <v-spacer></v-spacer>
          <v-btn icon @click="$store.commit('closeModal', 2)">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-form
          @submit.prevent="save"
          v-model="valid"
          ref="form"
          lazy-validation
          >
          <v-card-text>
            <v-container grid-list-md class="pt-0">

              <v-text-field
                name="nombre"
                label="Nombre de la plantilla"
                id="nombre"
                :rules="$validate(['required'])"
                required
                v-model="form.nombre"
                maxlength="50"
              ></v-text-field>

              <v-layout>
                <v-flex xs11>
                  <v-autocomplete
                    v-model="documento"
                    :items="documentos"
                    label="Seleccione el documento a agregar"
                    item-value="id"
                    item-text="nombre"
                    return-object
                  />
                </v-flex>
                <v-flex xs1>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        @click="addDocumento"
                        color="primary"
                        v-on="on"
                        icon>
                        <v-icon>add</v-icon>
                      </v-btn>
                    </template>
                    <span>Agregar documento</span>
                  </v-tooltip>
                </v-flex>
              </v-layout>
              <template v-if="docs.length">
                <h3>Documentos:</h3>
                <table class="v-datatable v-table theme--light">
                  <tbody>
                    <tr v-for="(item, index) in docs" :key="item.id">
                      <td>{{ index + 1 }}</td>
                      <td>{{ item.documento ? item.documento.nombre : item.nombre }}</td>
                      <td class="text-xs-right">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-btn
                              @click="eliminarDoc(item, index)"
                              color="error"
                              icon
                              v-on="on"><v-icon>delete</v-icon></v-btn>
                          </template>
                          <span>Agregar documento</span>
                        </v-tooltip>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </template>
              <v-alert
                v-else
                :value="true"
                color="warning"
                icon="priority_high"
                outline
              >
                Debe agregar por lo menos un documento
              </v-alert>
            </v-container>
            <log-datos :data="logDatos" v-if="logDatos"></log-datos>
          </v-card-text>
          <v-card-actions>
            <small class="error--text text-required">* Los campos son obligatorios</small>
            <v-spacer></v-spacer>
            <v-btn
              @click="$store.commit('closeModal', 2);">
              <v-icon>cancel</v-icon> {{ $t('common.cancel') }}
            </v-btn>
            <v-btn
              color="primary"
              type="submit"
              :disabled="!valid">
              <v-icon dark>check</v-icon> {{ $t('common.save') }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :dataGraphql="dataGraphql"
          :modalShow="false"
          id-refresh="btn-refresh-plantilla"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['documentos:create']">
              <v-btn color="primary"
                @click="openModal()"
                slot="activator"
              ><v-icon dark>add</v-icon> {{ $t('common.add') }}</v-btn>
              <span>{{ $t('rol.add')}}</span>
            </v-tooltip>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['documentos:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click="editItem(items.item.id, 'plantilla', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['documentos:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click="deleteItem(items.item.id, 'plantilla', 'btn-refresh-plantilla')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>
            <td>{{ items.item.nombre }}</td>
            <td>
              <ol class="plantilla-lista">
                <li
                  v-for="doc in items.item.documentos"
                  :key="doc.id">
                  {{ doc.documento ? doc.documento.nombre : '' }}
                </li>
              </ol>
            </td>
            <td>{{ items.item.estado }}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';

export default {
  mixins: [ crud, validate, logDatos ],
  data () {
    return {
      logDatos: null,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'plantillas',
      documento: null,
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: this.$t('rol.crud.name'), value: 'nombre' },
        { text: 'Documentos', sortable: false },
        { text: 'Estado', value: 'estado' }
      ],
      form: {
        nombre: ''
      },
      dataGraphql: `
        id
        nombre
        estado
        documentos
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [],
      valid: true,
      documentos: [],
      docs: []
    };
  },
  mounted () {
    this.getDocumentos();
  },
  methods: {
    eliminarDoc (item, index) {
      if (item.documento) {
        this.$confirm('¿Desea quitar el documento de la plantilla?', () => {
          this.$service.graphql({
            query: `
              mutation delete ($id: Int!) {
                plantillaDocumentoDelete(id: $id) {
                  deleted
                }
              }
            `,
            variables: { id: item.id }
          }).then(response => {
            if (response && response.plantillaDocumentoDelete.deleted) {
              this.$message.success('El documento se quitó correctamente de la plantilla');
              this.docs.splice(index, 1);
              this.updateList('btn-refresh-plantilla');
            }
          });
        });
      } else {
        this.docs.splice(index, 1);
      }
    },
    addDocumento () {
      if (this.documento) {
        this.docs.push(this.documento);
      }
    },
    getDocumentos () {
      this.$service.graphql({
        query: `
          query getDocumentos {
            documentos(tipo: OPERACION) {
              count
              rows {
                id
                nombre
                tipo
              }
            }
          }
        `,
        variables: {}
      }).then(response => {
        if (response) {
          this.documentos = response.documentos.rows;
        }
      });
    },
    openModal (data = {}) {
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
          this.docs = data.documentos;
        });
      } else {
        this.form = {
          nombre: ''
        };
        this.docs = [];
      }
      this.$store.commit('openModal', 2);
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: Int!, $plantilla: EditPlantilla!) {
                plantillaEdit(id: $id, plantilla: $plantilla) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              plantilla: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal', 2);
              this.updateList('btn-refresh-plantilla');
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          if (this.docs.length === 0) {
            return this.$message.warning('Debe agregar por lo menos un documento para crear una plantilla');
          }
          data.documentos = this.docs;
          this.$service.graphql({
            query: `
              mutation add($plantilla: NewPlantilla!) {
                plantillaAdd(plantilla: $plantilla) {
                  id
                }
              }
            `,
            variables: {
              plantilla: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal', 2);
              this.updateList('btn-refresh-plantilla');
              this.$message.success();
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>

<style lang="scss">
</style>
